body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #032642;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
}

h1,
h2 {
  color: #032642;
}

ul {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 5px 0;
}

a {
  color: #0c316d;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
